
<div class="post-container">
  <p class="post-form-title">{{model.title}} </p>
  <p class="post-form-body">{{model.body}}</p>
</div>
<p class="post-form-comment-header">Comments</p>

{{#link-to 'comment-new' model}}<p class="comment-button">Add comment</p>{{/link-to}}

{{#each model.comments as | comment |}}
<div class="post-comment-div">
  <p class='post-form-comment'>{{comment.body}}</p>
  {{comment-index
    comment=comment
    delete='delete'
    }}
</div>


{{/each}}
{{outlet}}
